<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 px-4 px-lg-5">
  <a href="index.html" class="navbar-brand d-flex align-items-center">
      <h2 class="m-0 text-primary"><img class="img-fluid me-2" src="img/icon-1.png" alt=""
              style="width: 45px;">MeetMe</h2>
  </a>
  <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-4 py-lg-0">

          <button class=" btn btn-primary getStartedBtn" (click)="getStarted()">Get Started</button>



      </div>

  </div>
</nav>
<!-- Navbar End -->



    <!-- Header Start -->
    <div class="container-fluid hero-header bg-light py-5 mb-5">
      <div class="container py-5">
          <div class="row g-5 align-items-center">
              <div class="col-lg-6">
                  <h1 class="display-1 mb-3 animated slideInDown">Make Better Life With Trusted MeetMe</h1>
                  <p class="animated slideInDown">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
                      diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo
                      magna dolore erat amet</p>
                  <button  class="btn btn-primary py-3 px-4 animated slideInDown" (click)="getStarted()">Get Started</button>
              </div>
              <div class="col-lg-6 animated fadeIn">
                  <img class="img-fluid animated pulse infinite" style="animation-duration: 3s;" src="../../assets/virtual meeting.png"
                      alt="">
              </div>
          </div>
      </div>
  </div>
  <!-- Header End -->
